.characterZones {
    height: 230px;
}

.fighter {
    height: 200px;
    width: 200px;
}

.fighterImage {
    height: 200px;
    width: 200px;
}

#selectEnemy {
    display: none;
}

.rowTitles {
    width: 100%;
}

.yourFighter {
    border: 2px solid blue;
}

.enemyFighters {
    border: 2px solid red;
}